---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/webfonts/v1/webfonts?key=<GOOGLE_FONTS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "kind": "webfonts#webfontList",
          "items": [
            {
              "family": "Roboto",
              "variants": [
                "regular",
                "italic"
              ],
              "subsets": [
                "cyrillic",
                "cyrillic-ext",
                "greek",
                "greek-ext",
                "latin",
                "latin-ext",
                "math",
                "symbols",
                "vietnamese"
              ],
              "version": "v49",
              "lastModified": "2025-09-08",
              "files": {
                "regular": "https://fonts.gstatic.com/s/roboto/v49/KFOmCnqEu92Fr1Me5WZLCzYlKw.ttf",
                "italic": "https://fonts.gstatic.com/s/roboto/v49/KFOkCnqEu92Fr1Mu52xPKTM1K9nz.ttf"
              },
              "category": "sans-serif",
              "kind": "webfonts#webfont",
              "menu": "https://fonts.gstatic.com/s/roboto/v49/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmSiA8.ttf",
              "axes": [
                {
                  "tag": "wdth",
                  "start": 75,
                  "end": 100
                },
                {
                  "tag": "wght",
                  "start": 100,
                  "end": 900
                }
              ]
            },
            {
              "family": "Roboto Flex",
              "variants": [
                "regular"
              ],
              "subsets": [
                "cyrillic",
                "cyrillic-ext",
                "greek",
                "latin",
                "latin-ext",
                "vietname[...]
