---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/webfonts/v1/webfonts?key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 403,
            "message": "Method doesn't allow unregistered callers (callers without established identity). Please use API Key or other form of API consumer identity to call this API.",
            "errors": [
              {
                "message": "Method doesn't allow unregistered callers (callers without established identity). Please use API Key or other form of API consumer identity to call this API.",
                "domain": "global",
                "reason": "forbidden"
              }
            ],
            "status": "PERMISSION_DENIED"
          }
        }
  recorded_at: Sun, 09 Nov 2025 12:15:47 GMT
recorded_with: VCR 6.3.1
